
.container {
  margin-top: 50px;
}

footer .container {
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #333;
  width: 100%;
  color: #f5f5f5;
  padding: 20px;
}

#header {
  background-image: url("./assets/pexels-adrien-olichon-13597045.jpg");
  height: 260px;
  width: 100%;
  background-size: cover;
}